@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#about {
  background-color: transparent;
  color: #fff;
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  position: relative;
  overflow: hidden;
  scroll-margin-top: 80px;
  font-family: "Roboto", sans-serif;
}



.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  max-width: 1100px;
  z-index: 1;
}

.about-text {
  max-width: 600px;
  text-align: left;
  line-height: 1.7;
}

.about-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  color: #ffffff;
  position: relative;
}

.about-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50%;
  height: 4px;
  background: #029aff;
  border-radius: 2px;
  transition: width 0.4s ease;
}

.about-title:hover::after {
  width: 100%;
}

.about-text p {
  color: #d6d6d6;
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
  transition: color 0.3s ease;
}

.about-text p:hover {
  color: #ffffff;
}

/* Imagen */
.about-img {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;

  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.about-img img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 2rem;
  transition: transform 0.4s ease;
}

.about-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(150, 199, 252, 0.3);
}

.about-img:hover img {
  transform: scale(1.1);
}

/* Responsivo */
@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-text {
    text-align: left;
  }

  .about-img img {
    width: 320px;
    height: 320px;
  }
}
